@model List<ResultServiceDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-border">
    <tr>
        <th>#</th>
        <th>HİZMET BAŞLIĞI</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>DETAYLAR</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ServiceID</th>
            <td>@item.Title</td>
            <td><a href="/Service/DeleteService/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-danger">SİL</a></td>
            <td><a href="/Service/UpdateService/@item.ServiceID" class="btn mb-1 btn-rounded btn-outline-warning">GÜNCELLE</a></td>
            <td><a href="#" class="btn mb-1 btn-rounded btn-outline-success">DETAYLAR</a></td>
        </tr>
    }
</table>
<a href="/Service/AddService/" class="btn mb-1 btn-rounded btn-outline-info">YENİ HİZMET</a>



