@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-border">
    <tr>
        <th>#</th>
        <th>Personel Adı</th>
        <th>Personel Unvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.StaffID</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="#" class="btn btn-danger">SİL</a></td>
            <td><a href="#" class="btn btn-warning">GÜNCELLE</a></td>
            <td><a href="#" class="btn btn-primary">DETAYLAR</a></td>
        </tr>
    }
</table>
<a href="#" class="btn btn-info">YENİ PERSONEL</a>

